# Titanic Data Expolartion

In [115]:
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

In [63]:
titanic_data = sns.load_dataset('titanic')

In [64]:
titanic_data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [65]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [66]:
titanic_data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [67]:
titanic_data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [68]:
titanic_data["age"].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [69]:
titanic_data["age"].tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [70]:
# Fill the missing values in 'age' with the median age.
titanic_data["age"].fillna(titanic_data["age"].median(),inplace=True)

C:\Users\Vikash\AppData\Local\Temp\ipykernel_2036\2998463024.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data["age"].fillna(titanic_data["age"].median(),inplace=True)

In [71]:
# Verify the missing values in 'age' have been filled
print("\nMissing values after imputation in 'age' column:\n", titanic_data['age'].isnull().sum())

Missing values after imputation in 'age' column:
 0

In [72]:
print(titanic_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [73]:
titanic_data.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [74]:
# Handle missing data by dropping the 'deck' column
titanic_data.drop(columns=["deck"],inplace=True)

In [75]:
titanic_data.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [76]:

titanic_data["embarked"].tail()

886    S
887    S
888    S
889    C
890    Q
Name: embarked, dtype: object

In [77]:
# Impute the 'embarked' and 'embark_town' columns with the most common value
most_common_embarked=titanic_data["embarked"].mode()[0]
print(most_common_embarked)

S

In [78]:
titanic_data["embarked"].fillna(most_common_embarked,inplace=True)

C:\Users\Vikash\AppData\Local\Temp\ipykernel_2036\3088448935.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data["embarked"].fillna(most_common_embarked,inplace=True)

In [79]:
most_common_embark_town=titanic_data["embark_town"].mode()[0]

In [80]:
most_common_embark_town

'Southampton'

In [81]:
titanic_data["embark_town"].fillna(most_common_embark_town,inplace=True)

C:\Users\Vikash\AppData\Local\Temp\ipykernel_2036\3653355284.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data["embark_town"].fillna(most_common_embark_town,inplace=True)

In [82]:

# Verify that missing data has been handled
titanic_data.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [83]:
import numpy as np

In [84]:
#Outlier Detection
# Compute Z-scores for 'age' and 'fare'
mean_age=np.mean(titanic_data['age'])
std_dev_age=np.std(titanic_data['age'])
z_score=(titanic_data['age']-mean_age)/std_dev_age
outlier_age=titanic_data['age'][np.abs(z_score)>2.5]

In [85]:
outlier_age

33     66.0
54     65.0
96     71.0
116    70.5
252    62.0
275    63.0
280    65.0
438    64.0
456    65.0
483    63.0
493    71.0
545    64.0
555    62.0
570    62.0
630    80.0
672    70.0
745    70.0
829    62.0
851    74.0
Name: age, dtype: float64

In [86]:
mean_fare=np.mean(titanic_data["fare"])
std_dev_fare=np.std(titanic_data["fare"])
z_score_fare=(titanic_data["fare"]-mean_fare)/std_dev_fare
outlier_fare=titanic_data["fare"][np.abs(z_score_fare)>2.5]

In [87]:
outlier_fare

27     263.0000
88     263.0000
118    247.5208
258    512.3292
299    247.5208
311    262.3750
318    164.8667
341    263.0000
377    211.5000
380    227.5250
438    263.0000
527    221.7792
557    227.5250
679    512.3292
689    211.3375
700    227.5250
716    227.5250
730    211.3375
737    512.3292
742    262.3750
779    211.3375
856    164.8667
Name: fare, dtype: float64

In [88]:
titanic_data=titanic_data.dropna(subset=["age"])

In [89]:
#Calculate the first and third quartile
Q1=titanic_data["age"].quantile(0.25)
Q3=titanic_data["age"].quantile(0.75)
#IQR
IQR_age=Q3-Q1
lower_bound=Q1-1.5*IQR_age
Upper_bound=Q3+1.5*IQR_age

#outlier
outlier_age=titanic_data["age"][(titanic_data["age"]<lower_bound)|(titanic_data["age"]>Upper_bound)]
print(outlier_age)

7       2.00
11     58.00
15     55.00
16      2.00
33     66.00
       ...
827     1.00
829    62.00
831     0.83
851    74.00
879    56.00
Name: age, Length: 66, dtype: float64

In [90]:
#Data Transformati
titanic_data["sex"].head(15)

0       male
1     female
2     female
3     female
4       male
5       male
6       male
7       male
8     female
9     female
10    female
11    female
12      male
13      male
14    female
Name: sex, dtype: object

In [91]:
titanic_data["embarked"].tail(15)

876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: embarked, dtype: object

In [92]:
import pandas as pd

In [93]:
encoded_features=pd.get_dummies(titanic_data[["sex","embarked"]])

In [94]:
encoded_features

     sex_female  sex_male  embarked_C  embarked_Q  embarked_S
0         False      True       False       False        True
1          True     False        True       False       False
2          True     False       False       False        True
3          True     False       False       False        True
4         False      True       False       False        True
..          ...       ...         ...         ...         ...
886       False      True       False       False        True
887        True     False       False       False        True
888        True     False       False       False        True
889       False      True        True       False       False
890       False      True       False        True       False

[891 rows x 5 columns]

In [95]:
titanic_data=pd.concat([titanic_data,encoded_features],axis=1)

In [96]:
titanic_data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False,False,True,False,False,True
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,True,False,True,False,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True,True,False,False,False,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False,True,False,False,False,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True,False,True,False,False,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True,True,False,False,False,True
888,0,3,female,28.0,1,2,23.4500,S,Third,woman,False,Southampton,no,False,True,False,False,False,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True,False,True,True,False,False
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True,False,True,False,True,False

In [97]:
titanic_data["fare"].head(10)

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
5     8.4583
6    51.8625
7    21.0750
8    11.1333
9    30.0708
Name: fare, dtype: float64

In [98]:
#Modify 'fare' feature to 'log_fare' using natural logarithm
titanic_data["fare"]=np.log10(titanic_data["fare"]+0.1)

In [99]:
titanic_data["fare"]

0      0.866287
1      1.853597
2      0.904445
3      1.725912
4      0.911158
         ...
886    1.117271
887    1.478566
888    1.371991
889    1.478566
890    0.894870
Name: fare, Length: 891, dtype: float64

In [100]:
# Create a new binary encoded feature 'embarked_southampt
# Create a new binary encoded feature 'embarked_southampton'
embark_town_col = pd.DataFrame([1 if i == 'Southampton' else 1 for i in titanic_data['embark_town']], columns=["embarked_southampton"])

In [101]:
embark_town_col

     embarked_southampton
0                       1
1                       1
2                       1
3                       1
4                       1
..                    ...
886                     1
887                     1
888                     1
889                     1
890                     1

[891 rows x 1 columns]

In [105]:
titanic_data["embark_town"]=pd.DataFrame([1 if i == 'Southampton' else 0 for i in titanic_data['embark_town']], columns=["embarked_southampton"])

In [106]:
titanic_data.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,0,3,male,22.0,1,0,0.866287,S,Third,man,True,0,no,False,False,True,False,False,True
1,1,1,female,38.0,1,0,1.853597,C,First,woman,False,0,yes,False,True,False,True,False,False
2,1,3,female,26.0,0,0,0.904445,S,Third,woman,False,0,yes,True,True,False,False,False,True
3,1,1,female,35.0,1,0,1.725912,S,First,woman,False,0,yes,False,True,False,False,False,True
4,0,3,male,35.0,0,0,0.911158,S,Third,man,True,0,no,True,False,True,False,False,True
5,0,3,male,28.0,0,0,0.932388,Q,Third,man,True,0,no,True,False,True,False,True,False
6,0,1,male,54.0,0,0,1.715690,S,First,man,True,0,no,True,False,True,False,False,True
7,0,3,male,2.0,3,1,1.325823,S,Third,child,False,0,no,False,False,True,False,False,True
8,1,3,female,27.0,0,2,1.050507,S,Third,woman,False,0,yes,False,True,False,False,False,True
9,1,2,female,14.0,1,0,1.479587,C,Second,child,False,0,yes,False,True,False,True,False,False

In [110]:
#One-hot encode categorical variables
titanic_preprocessed = pd.get_dummies(titanic_data, columns=['sex', 'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive', 'alone'], drop_first=True)

In [111]:
titanic_preprocessed

,survived,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,...,sex_male,embarked_Q,embarked_S,class_Second,class_Third,who_man,who_woman,adult_male_True,alive_yes,alone_True
0,0,3,22.0,1,0,0.866287,False,True,False,False,...,True,False,True,False,True,True,False,True,False,False
1,1,1,38.0,1,0,1.853597,True,False,True,False,...,False,False,False,False,False,False,True,False,True,False
2,1,3,26.0,0,0,0.904445,True,False,False,False,...,False,False,True,False,True,False,True,False,True,True
3,1,1,35.0,1,0,1.725912,True,False,False,False,...,False,False,True,False,False,False,True,False,True,False
4,0,3,35.0,0,0,0.911158,False,True,False,False,...,True,False,True,False,True,True,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,1.117271,False,True,False,False,...,True,False,True,True,False,True,False,True,False,True
887,1,1,19.0,0,0,1.478566,True,False,False,False,...,False,False,True,False,False,False,True,False,True,True
888,0,3,28.0,1,2,1.371991,True,False,False,False,...,False,False,True,False,True,False,True,False,False,False
889,1,1,26.0,0,0,1.478566,False,True,True,False,...,True,False,False,False,False,True,False,True,True,True
890,0,3,32.0,0,0,0.894870,False,True,False,True,...,True,True,False,False,True,True,False,True,False,True

In [113]:
#Handle any NaN values by filling them with the mean of the column
titanic_preprocessed = titanic_preprocessed.fillna(titanic_preprocessed.mean())

In [116]:
train_data, test_data = train_test_split(titanic_preprocessed, test_size=0.3, random_state=42)

In [117]:
test_data

,survived,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,...,sex_male,embarked_Q,embarked_S,class_Second,class_Third,who_man,who_woman,adult_male_True,alive_yes,alone_True
709,1,3,28.0,1,1,1.185990,False,True,True,False,...,True,False,False,False,True,True,False,True,True,False
439,0,2,31.0,0,0,1.025306,False,True,False,False,...,True,False,True,True,False,True,False,True,False,True
840,0,3,20.0,0,0,0.904445,False,True,False,False,...,True,False,True,False,True,True,False,True,False,True
720,1,2,6.0,0,1,1.519828,True,False,False,False,...,False,False,True,True,False,False,False,False,True,False
39,1,3,14.0,1,0,1.054678,True,False,True,False,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,1,3,27.0,0,0,0.942628,False,True,False,False,...,True,False,True,False,True,True,False,True,True,True
633,0,1,28.0,0,0,-1.000000,False,True,False,False,...,True,False,True,False,False,True,False,True,False,True
456,0,1,65.0,0,0,1.425697,False,True,False,False,...,True,False,True,False,False,True,False,True,False,True
500,0,3,17.0,0,0,0.942628,False,True,False,False,...,True,False,True,False,True,True,False,True,False,True
430,1,1,28.0,0,0,1.425697,False,True,False,False,...,True,False,True,False,False,True,False,True,True,True

In [118]:
train_data

,survived,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,...,sex_male,embarked_Q,embarked_S,class_Second,class_Third,who_man,who_woman,adult_male_True,alive_yes,alone_True
445,1,1,4.0,0,2,1.913593,False,True,False,False,...,True,False,True,False,False,False,False,False,True,False
650,0,3,28.0,0,0,0.902862,False,True,False,False,...,True,False,True,False,True,True,False,True,False,True
172,1,3,1.0,1,1,1.050507,True,False,False,False,...,False,False,True,False,True,False,False,False,True,False
450,0,2,36.0,1,2,1.444825,False,True,False,False,...,True,False,True,True,False,True,False,True,False,False
314,0,2,43.0,1,1,1.420781,False,True,False,False,...,True,False,True,True,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,1,3,21.0,0,0,0.889302,True,False,False,False,...,False,False,True,False,True,False,True,False,True,True
270,0,1,28.0,0,0,1.492760,False,True,False,False,...,True,False,True,False,False,True,False,True,False,True
860,0,3,41.0,2,0,1.152542,False,True,False,False,...,True,False,True,False,True,True,False,True,False,False
435,1,1,14.0,1,2,2.079543,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
102,0,1,21.0,0,1,1.888671,False,True,False,False,...,True,False,True,False,False,True,False,True,False,False

In [153]:
# Separate the target variable ("survived") 
x_train = train_data.drop("survived", axis=1)
x_test=test_data.drop("survived",axis=1)
y_train = train_data["survived"]
y_test=test_data["survived"]

In [154]:
x_test

,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,sex_male,embarked_Q,embarked_S,class_Second,class_Third,who_man,who_woman,adult_male_True,alive_yes,alone_True
709,3,28.0,1,1,1.185990,False,True,True,False,False,True,False,False,False,True,True,False,True,True,False
439,2,31.0,0,0,1.025306,False,True,False,False,True,True,False,True,True,False,True,False,True,False,True
840,3,20.0,0,0,0.904445,False,True,False,False,True,True,False,True,False,True,True,False,True,False,True
720,2,6.0,0,1,1.519828,True,False,False,False,True,False,False,True,True,False,False,False,False,True,False
39,3,14.0,1,0,1.054678,True,False,True,False,False,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,3,27.0,0,0,0.942628,False,True,False,False,True,True,False,True,False,True,True,False,True,True,True
633,1,28.0,0,0,-1.000000,False,True,False,False,True,True,False,True,False,False,True,False,True,False,True
456,1,65.0,0,0,1.425697,False,True,False,False,True,True,False,True,False,False,True,False,True,False,True
500,3,17.0,0,0,0.942628,False,True,False,False,True,True,False,True,False,True,True,False,True,False,True
430,1,28.0,0,0,1.425697,False,True,False,False,True,True,False,True,False,False,True,False,True,True,True

In [155]:
# Initialize a Logistic Regression model
logistic=LogisticRegression(max_iter=1000)

In [156]:
# Training the Logistic Regression
logistic.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [157]:
predictions = logistic.predict(x_test)

In [158]:
predictions

array([1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1])

In [167]:
print("Accuracy:", accuracy_score(y_test, predictions))
print("\n Classification Report:\n")
print(classification_report(y_test, predictions))

Accuracy: 1.0

 Classification Report:

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       157
           1       1.00      1.00      1.00       111

    accuracy                           1.00       268
   macro avg       1.00      1.00      1.00       268
weighted avg       1.00      1.00      1.00       268

In [161]:
print("Confusion Matrix:")
print(confusion_matrix(y_test, predictions))

Confusion Matrix:
[[157   0]
 [  0 111]]

In [162]:
print("Accuracy Score:")
print(accuracy_score(y_test, predictions))

Accuracy Score:
1.0

In [163]:
#Random FOres
from sklearn.ensemble import RandomForestClassifier

In [164]:
RandomForest=RandomForestClassifier(n_estimators=100,random_state=42)
RandomForest.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

In [165]:
y_pred_rf=RandomForest.predict(x_test)

In [166]:
y_pred_rf

array([1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1])

In [168]:
print("Accuracy:", accuracy_score(y_test, y_pred_rf))
print("\n Classification Report:\n")
print(classification_report(y_test, y_pred_rf))

Accuracy: 1.0

 Classification Report:

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       157
           1       1.00      1.00      1.00       111

    accuracy                           1.00       268
   macro avg       1.00      1.00      1.00       268
weighted avg       1.00      1.00      1.00       268

In [169]:
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_rf))

Confusion Matrix:
[[157   0]
 [  0 111]]

In [170]:
print("Accuracy Score:")
print(accuracy_score(y_test, y_pred_rf))

Accuracy Score:
1.0

In [ ]:
# Titanic Data Visualizations
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Titanic dataset (update path if needed)
df = pd.read_csv('titanic.csv')

# 1. Survival count
plt.figure(figsize=(6,4))
sns.countplot(x='Survived', data=df)
plt.title('Survival Count')
plt.show()

# 2. Survival by Sex
plt.figure(figsize=(6,4))
sns.countplot(x='Sex', hue='Survived', data=df)
plt.title('Survival by Sex')
plt.show()

# 3. Age distribution
plt.figure(figsize=(8,5))
sns.histplot(df['Age'].dropna(), bins=30, kde=True)
plt.title('Age Distribution')
plt.show()

# 4. Survival by Passenger Class
plt.figure(figsize=(6,4))
sns.countplot(x='Pclass', hue='Survived', data=df)
plt.title('Survival by Passenger Class')
plt.show()

# 5. Fare distribution
plt.figure(figsize=(8,5))
sns.histplot(df['Fare'], bins=30, kde=True)
plt.title('Fare Distribution')
plt.show()

# 6. Correlation heatmap
plt.figure(figsize=(10,8))
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm')
plt.title('Feature Correlation Heatmap')
plt.show()

# You can add more visualizations as needed!